@{
    ViewBag.Title = "Home page";
}


<div class="product-info">
    <img src="~/img/SK-A-1595.jpg" alt="Alternate Text" />
    <h3>Mug</h3>
    <ul>
        <li>Price: $9.99</li>
        <li>Artist: Van Goagh</li>
        <li>Title: </li>
        <li>Description: Self-Potrait</li>
    </ul>
    <button id="buyButton" class="btn btn-success">Buy</button>
</div>
<div id="theForm">
    <form>
        <label>Your Name:</label>
        <br />
        <input />
        <br />
        <label>Email:</label>
        <br />
        <input type="email" />
        <br />
        <label>Subject</label>
        <br />
        <input type="text" />
        <br />
        <label>Message:</label>
        <br />
        <textarea rows="4"></textarea>
        <br />
        <input type="submit" value="Send Message" />
    </form>
</div>    